.flex_all_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_center{
  display: flex;
  justify-content: center;
}

.flex_middle{
  display: flex;
  align-items: center;
}

.flex_right{
  display: flex;
  justify-content: right;
}